<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SVAM STORE👕</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <style>
        body {
            background-image: url("{{url_for('static', filename='bg.jpg')}}");
        }
       
    </style>
</head>
<body>
    <div class="container">
        <header>
            <h1>SVAM Store: Database Q&A 👕</h1>
        </header>

        <main>
            <section class="form-section">
                <label for="question">Ask a Question:</label>
                <form action="/submit" method="POST" id="form">
                    <input type="text" id="question" name="question" value="{{ question }}" placeholder="Ex: What are different brands available in the store" required>
                    <h3>Or</h3><br>
                    <p>Speak Out the question</p><br>
                    <select id="options" name="languages">
                        <option value="English">English</option>
                        <option value="Telugu">Telugu</option>
                        <option value="Hindi">Hindi</option>
                      </select>
                    <button type="button" style="padding:5px; margin:5px; border-radius: 3px;" id="speakButton">🎤 Speak</button> <br> <br>
                    <button style="background-color: blue; color: white;" type="submit">Submit</button>
                </form>
            </section>
            <div id="lang"></div><br>
            <div id="loading-spinner"></div>
            <section class="sample-questions">
                <h3>Sample Questions:</h3>
                <ul>
                    <li>What is the costliest t-shirt you have in your store and what is the price of it along with its brand?</li>
                    <li>What is the total stock quantity of white Nike t-shirts available?</li>
                    <li>What will be the total revenue if all the blue Adidas t-shirts with a discount have been sold?</li>
                    <li>Which brand has more number of XL t-shirts?</li>
                </ul>
            </section>
        </main>
        <footer>
            <p>
                <i class="fa-brands fa-github"></i> <a href="https://github.com/viVeK21111/retail_insights" class="mr-4" target="_blank">GitHub</a> <i class="fa fa-envelope"></i> <a href="/contact" target="_blank">Contact Us</a> 
            </p>
        </footer>
    </div>
   
  <script>
    // Add event listener to show spinner on form submission
    updatedContent = sessionStorage.getItem("updateMessage");
    if(updatedContent) {
        document.getElementById('loading-spinner').innerHTML="Previous Response <a herf='#' onclick = 'window.history.back()' style='text-decoration:underline; cursor:pointer;' >view here</a>";
        sessionStorage.removeItem("updateMessage");
        }
        document.getElementById('form').addEventListener('submit', function () {
        document.getElementById('loading-spinner').innerHTML='Loading... Please wait !';
        });

    const speakButton = document.getElementById('speakButton');
    const questionInput = document.getElementById('question');

    
    // Check if browser supports the Web Speech API
    if ('webkitSpeechRecognition' in window) {
        var recognition = new webkitSpeechRecognition();
        recognition.continuous = false; // Stop recognition after one result
        recognition.interimResults = false; // Do not show partial results

        const lang = document.getElementById('options');

        
        // Start speech recognition when button is clicked
        speakButton.addEventListener('click', () => {
            speakButton.textContent="listening..";
            language = lang.value;
             if(language==='English') {
            recognition.lang='en-US';
            }
            else if(language==='Telugu') {
            recognition.lang = 'te-IN';
            }
            else if(language==='Hindi') {
            recognition.lang = 'hi-IN';
            }
            console.log("language detected: "+recognition.lang);
            recognition.start();
        });

        // On result, populate the input field
        recognition.onresult = (event) => {
            const speechResult = event.results[0][0].transcript; // Get the transcribed text
            questionInput.value = speechResult; // Set the value of the input field
            speakButton.textContent="🎤 Speak";
            if(recognition.lang!='en-US') {
                translateToEnglish(speechResult);
            }
        };

        // Handle errors
        recognition.onerror = (event) => {
            console.error('Speech recognition error:', event.error);
            alert('An error occurred during speech recognition. Please try again.');
        };
    } else {
        // If Web Speech API is not supported
        speakButton.disabled = true;
        alert('Speech recognition is not supported in this browser. Please use a compatible browser like Chrome.');
    }
    async function translateToEnglish(text) {
            const response = await fetch('/translate', {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json'
            },
            body: JSON.stringify({ text })
            });
            const data = await response.json();
            result = data.transtext;
            questionInput.value = result;
            const langele = document.getElementById("lang");
            langele.innerHTML=text;
        }

    
  </script>

</body>
</html>
