<html>
    <head>
        <title>Result</title>
    </head>
    <style>
        body {
            background-color:rgb(16, 2, 2);
        }
        .response-section {
            color:white;
        }
        .backbutt:hover {
            cursor:pointer;
        }
    </style>
    <body>
        {% if query and answer %}
        <section class="response-section">
            <p>Query: {{ query }}</p>
            <p> {{ answer }}</p>
        </section>
    {% endif %}
        <div class="back">
            <button class="backbutt" onclick="goback()">Goback</button>
        </div>
        <script>
            function goback() {
                window.history.back();
            }
        </script>
    </body>
</html>